@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding:0;
    margin:0;
}
body{
    overflow-x: hidden;
}
.head,header{
display: flex;
flex-direction: column;
align-items: center;
align-self: stretch;

}
.container{
display: flex;
max-width: 1128px;
padding: 0px 13px;
align-items: flex-start;
}
.row{
    display: flex;
width: 1102px;
max-width: 1134px;
padding: 16px 0px;
align-items: center;
gap: var(--spacing-2, 26px);
}
.desktop_logo{
    display: flex;
height: 60px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 10px;
flex: 1 0 0;
}
.supernav{
display: flex;
align-items: center;
gap: var(--spacing-2, 26px);
}
.supernav>a{
color: var(--Ink-Blue, #00244E);
text-align: center;
text-decoration: none;
font-feature-settings: 'liga' off, 'clig' off;

/* Header & Top Navigation/Header Link */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 170%; /* 27.2px */
}
.search_trigger{
display: flex;
width: 41px;
height: 41px;
padding: 4px;
justify-content: center;
align-items: center;
flex-shrink: 0;
background-color: rgba(0, 36, 78, 0.6);
border-radius: 50%;
}
#searchContainer{
display: none;
align-items: center;
justify-content: center;
height: 41px;
width: 1102px;
margin: 5px 0px;


}
.search_bar_container>form{

font-weight: bolder;
font-size: 1rem;
/* padding: 1rem 3rem; */
border: 1px solid rgb(193, 175, 13);
border-radius: 100px;
width:100%;
text-align: center;
background-color: white;
}
.search_bar_container>form>input{
font-weight: bolder;
font-size: 1rem;
padding: 7px 3rem;
border: 1px solid white;
border-radius: 100px;
width:900px;
text-align: center;
color: #00244e;
}
.search_bar_container>form>button{
font-weight: bolder;
font-size: 1rem;
border: 1px solid white;
border-radius: 100px;
text-align: center;
color: #00244e;
}
.main_nav{
display: flex;
flex-direction: column;
align-items: center;
align-self: stretch;
}
.navbar{
display: flex;
flex-direction: column;
align-items: center;
align-self: stretch;;
background: var(--Ink-Blue, #00244E);
}
.navrow{
display: flex;
max-width: 1134px;
align-items: center;
flex: 1 0 0;
}
.acedmic_program{
display: flex;
flex-direction: column;
align-items: flex-start;
}
.mainnavTab{
display: flex;
width: 220.4px;
height: 51px;
flex-direction: column;
justify-content: center;
align-items: center;
}
.label{
display: flex;
padding: 12px 0px;
justify-content: center;
align-items: center;
gap: 10px;
}
.text{
color: var(--White, #FFF);
text-align: center;
font-feature-settings: 'liga' off, 'clig' off;

/* Header & Top Navigation - Large View/Header Link */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 170%; /* 27.2px */
}
.down_icon{
width: 16px;
height: 16px;
transform: rotate(180deg);
}
.desktopMaster{
display: flex;
padding: 110px 223px;
height: 344px;
flex-direction: column;
align-items: flex-end;
justify-content: center;
align-self: stretch;
background-image: url("assets/desktop.jpeg");

background-repeat:no-repeat;
background-size:cover;
position:relative;
/* background-size: 100% 500px; */
}

/* ------ main */
.main{
display: flex;
flex-direction: column;
align-items: center;
}
.valueProps{
display: flex;
padding: var(--snhu-size-space-1700) 0px;
flex-direction: column;
align-items: center;
align-self: stretch;
padding: 68px 13px;
}
.container{
display: flex;
max-width: 1110px;
flex-direction: column;
align-items: center;
gap: var(--snhu-size-space-1050);
/* align-self: stretch; */
}
.decorative_icon{
display: flex;
justify-content: center;
align-items: center;
gap: var(--snhu-size-space-1700);
align-self: stretch;
}
.cardStyle{
display: flex;
min-width: 240px; 
align-items: center;
justify-content: space-between;
align-items: flex-start;
align-content: space-between;
flex: 1 0 0;
flex-wrap: wrap;
margin: 5px;
}
.content_layout{
display: flex;
min-width: 240px;
flex-direction: column;
align-items: center;
gap: var(--snhu-size-space-600, );
flex: 1 0 0;
}
.content_layout>img{
width: 111px;
height: 98px;
}
.card_content{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
min-width: 160px;
/* align-items: flex-start; */
/* gap: var(--snhu-size-space-400); */
align-self: stretch;
}
.card_content>h2{
    color:#00244E;
}
.card_content>.text_flexi{
    color:white;
    font-size: 40px;
    
}
.card_content>.card_body{
    color:k-72, rgba(0, 0, 0, 0.72);
}
.content_layout>h2{
    
display: flex;
flex-direction: column;
align-items: flex-start;
gap: var(--snhu-size-space-200);
align-self: stretch;
}
.card_body{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: var(--snhu-size-space-400);
align-self: stretch;
}
.valueCareer{
display: flex;
padding: var(--snhu-size-space-1700) 13px;
flex-direction: column;
align-items: center;
gap: var(--snhu-size-space-6%0);
align-self: stretch;
padding: 68px 13px;
}
.cardMedia{
display: flex;
width: 527px;
flex-direction: column;
justify-content: center;
align-items: center;
}
.row{
position: relative;
}
.playButton{
width: 128px;
height: 90px;
position: absolute;
left: 194px;
bottom: 102.399px;
}
.heading{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: var(--snhu-size-space-200);
align-self: stretch;
}

.headingText{
color: var(--20-space-20-primary-colors-ink-blue, #00244E);
margin: 16px 0px;
/* Heading & Display/H2 & Display 2 */
font-family: Font Family/100;
font-size: 1.875rem;
font-style: normal;
font-weight: bolder;
line-height: 34px;
}

.cardBody{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: var(--snhu-size-space-400);
align-self: stretch;
}
.cardBody>p{
color: var(--Text-Regular, #474747);
font-family: Font Family/100;
font-size: var(--snhu-size-typography-body-paragraph-font-size );
font-style: normal;
font-weight: var(--snhu-size-typography-body-paragraph-font-weight);
line-height: var(--snhu-size-typography-body-paragraph-line-height); /* 170% */
}
.cardFooter{
display: flex;
width: 270px;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
} 
.cardFooter{
display: flex;
max-width: 268px;
align-items: center;
align-self: stretch;
border-radius: 32px;
background: var(--Text-Link, #0069A7);
margin: 16px 0px;
display: flex;
width: 270px;
flex-direction: column;
justify-content: flex-end;
}
.cardFooter>button{
display: flex;
max-width: 268px;
padding: 8px 0px;
justify-content: center;
align-items: center;
align-self: stretch;
border-radius: 32px;
background: var(--Text-Link, #0069A7);

color: var(--Text-Link---Inverse, #E6F1F7);
text-align: center;

/* Miscellaneous/Button */
font-family: Font Family/Inter;
font-size: var(--snhu-size-typography-miscellaneous-button-font-size);
font-style: normal;
font-weight: var(--snhu-size-typography-miscellaneous-button-font-weight);
line-height: var(--snhu-size-typography-miscellaneous-button-line-height); /* 120% */
}

/* ------------ */
.container-for-flexi{
    display: flex;
padding:  68px 13px;
/* flex-direction: column; */
justify-content: center;
align-items: center;
gap: var(--snhu-size-space-600);
align-self: stretch;
background: var(--Background-Ink-Blue, #00244E);
width: 100%;
}
.text_flexi{
    align-self: stretch;
    color: var(--Text-Headings, #FFF);
    font-size: 40px;

/* Heading & Display/H2 & Display 2 */
font-family: Font Family/100;
font-size: var(--snhu-size-typography-heading-display-h2-display2-font-size);
font-style: normal;
font-weight: var(--snhu-size-typography-heading-display-h2-display2-font-weight);
line-height: var(--snhu-size-typography-heading-display-h2-display2-line-height, 2); /* 125% */
}
.cardColor{
    color: var(--Text-Regular,  rgba(0, 0, 0, 0.72));
}
.card_body{
font-family: var(--sds-typography-subheading-font-family);
font-size: var(--sds-typography-subheading-size-small);
font-style: normal;
font-weight: 400;
line-height: var(--Body-Paragraph-Line-Height, 27.2px); /* 170% */
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
   
}
.flexGroup{
    display: flex;
width: 726px;
align-items: center;
gap: var(--snhu-size-space-1050);
}
.cardText{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: var(--snhu-size-space-400);
align-self: stretch;
}
.cardText>h2{
    color: var(--Background-Yellow, #FDB913);
text-align: center;

/* Heading/Display-4 */
font-family: Inter;
/* font-size: 25px; */
font-style: normal;
font-weight: 640;
line-height: 120%; /* 30px */
}
.cardText>p{
    align-self: stretch;
    color: var(--Text-Strong, #FFF);
text-align: center;
/* Body/Paragraph */

/* font-family: Font Family/100;
font-size: var(--snhu-size-typography-body-paragraph-font-size);
font-style: normal;
font-weight: var(--snhu-size-typography-body-paragraph-font-weight);
line-height: var(--snhu-size-typography-body-paragraph-line-height); /* 170% */
color: var(--Text-Regular, #D1D7DF); 

/* Body/Paragraph Strong (Bold) */
font-family: Inter;
font-size: 1rem;
font-style: normal;
font-weight: 300;
line-height: 43px;
}
.container-flexi{
    display: flex;
    flex-direction: row;
    width:1110px;
    align-items: center;
    height:223px;
    
}
.cardFooter-flexi{
    display: flex;
max-width: 270px;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
align-self: stretch;
}
.cardFooter-flexi>a{
    display: flex;
padding: var(--snhu-size-space-200) 0px;
justify-content: center;
align-items: center;
text-decoration: none;
gap: 8px;
padding: 8px 0px;
align-self: stretch;
border-radius: var(--snhu-size-radius-full, 31px);
background: var(--Background-Yellow, #FDB913);
}
.cardFooter-flexi>a>p{
    color: var(--Background-Heritage-Blue, #004274);
font-family: var(--sds-typography-subheading-font-family);
font-size: var(--sds-typography-subheading-size-small);
font-style: normal;
font-weight: var(--heading-display-h-2-display-2-font-weight, 640);
line-height: 120%; /* 19.2px */
}
.ma-55{
    margin: 33px 46px

}

/* third section  */
*{
    font-family: Inter;
}
.desktop_overlay{
    display: flex;
flex-direction: column;
align-items: flex-start;
}
.desk_overview{
    display: flex;
/* width: 527px; */
padding:26px 42px;
flex-direction: column;
justify-content: center;
align-items: flex-end;
gap: var(--snhu-size-space-400, 10px);
border-radius: 36px 0px;
background: #004274;
}
.desk_overview_content{
    display: flex;
min-width: 255px;
width: 292px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: var(--snhu-size-space-6%0);
align-self: stretch;
}
.Ov_cardBody{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: var(--snhu-size-space-6%0);
align-self: stretch;
background: var(--HitBox, rgba(255, 255, 255, 0.00));

}
.Ov_cardBody>.H1{
    display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
align-self: stretch;
}
.H1>h2{
    color: var(--Text-Headings, #FFF);

/* Heading & Display/H1 & Display 1 */
font-family: Font Family/Inter;
font-size: 2.50rem;
font-style: normal;
font-weight: var(--snhu-size-typography-heading-display-h1-display1-font-weight);
line-height: var(--snhu-size-typography-heading-display-h1-display1-line-height); /* 124.923% */
}
.Desk_coll6{
    display: flex;
min-width: 255px;
flex-direction: column;
align-items: flex-start;
gap: 20px;
align-self: stretch;
}
.coll6Body{
    display: flex;
justify-content: center;
align-items: flex-start;
gap: 10px;
align-self: stretch;
}
.coll6Body>p{
    color: var(--Text-Regular, #D1D7DF);

/* Heading & Display/H5 & Display 5 - Normal Weight */
font-family: Font Family/Inter;
font-size: 1rem;
padding:16px 0px 24px 0px;
font-style: normal;
font-weight: var(--snhu-size-typography-heading-display-h5-display5-normal-weight-font-weight);
line-height: var(--snhu-size-typography-heading-display-h5-display5-normal-weight-line-height); /* 125% */
}
.desk_overview_content>.Ov_Row{
    display: flex;
padding: var(--snhu-size-space-400) 0px;
align-items: flex-end;
align-self: stretch;
background: var(--HitBox, rgba(255, 255, 255, 0.00));
}
.Row_component_table{
    display: flex;
width: 0px;
align-items: center;
align-self: stretch;
}
.Row_component_cell{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
flex: 1 0 0;
align-self: stretch;
background: var(--HitBox, rgba(255, 255, 255, 0.00));
}
.rowMinwith{
    display: flex;
align-items: center;
gap: 30px;
}
.rowMinwith>.start{
    width: 0px;
height: 0px;
}
.rowMinwith>.end{
    width: 0px;
height: 0px;
}
.Row_component_cell>.rowContent{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
align-self: stretch;
}
.rowContent>.rowbtn{
    display: flex;
align-items: center;
gap: 20px;
align-self: stretch;
}
.rowbtn>.find{
    display: flex;
max-width: 268px;
padding: 8px 0px;
justify-content: center;
align-items: center;
text-decoration: none;
flex: 1 0 0;
border-radius: 32px;
background: var(--Background-Yellow, #FDB913);
}
.rowbtn>.find>p{
    flex: 1 0 0;
    color: var(--Background-Heritage-Blue, #004274);
text-align: center;

/* Miscellaneous/Button */
font-family: Font Family/Inter;
font-size: var(--snhu-size-typography-miscellaneous-button-font-size);
font-style: normal;
font-weight:700;
line-height: var(--snhu-size-typography-miscellaneous-button-line-height); /* 120% */
}
.rowbtn>.Info{
    display: flex;
max-width: 268px;
padding: 8px 0px;
justify-content: center;
align-items: center;
flex: 1 0 0;
border-radius: 32px;
border: 2px solid var(--Text-Link, #FFF);
}
.rowbtn>.Info>p{
    flex: 1 0 0;
    color: var(--Text-Link, #FFF);
text-align: center;

/* Miscellaneous/Button */
font-family: Font Family/Inter;
font-size: var(--snhu-size-typography-miscellaneous-button-font-size);
font-style: normal;
font-weight: var(--snhu-size-typography-miscellaneous-button-font-weight);
line-height: var(--snhu-size-typography-miscellaneous-button-line-height); /* 120% */
}
.desktop_nameplate{
    display: flex;
padding: 8px 42px;
flex-direction: column;
align-items: center;
gap: var(--snhu-size-space-400);
position: absolute;
bottom: 0px;
left: 0px;
background: rgba(36, 34, 37, 0.687);
}
.desktop_nameplate>.nameBody{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 10px;
}
.desktop_nameplate>.nameBody>p{
    color: var(--Text-Regular, #D1D7DF);

/* Body/Paragraph */
font-family: Font Family/Inter;
font-size: var(--snhu-size-typography-body-paragraph-font-size);
font-style: normal;
font-weight: var(--snhu-size-typography-body-paragraph-font-weight);
line-height: var(--snhu-size-typography-body-paragraph-line-height); /* 170% */
}

/* -----section ---------  */


.playButton_alternate{
    width: 128px;
height: 90px;
position: absolute;
right: 196px;
top: 115.554px;
}

.statusCredibility{
    display: flex;
    height: 268px;
    padding: 65px 0px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    background: var(--Background-Gentle-Grey, #F5F5F5);
}
.credi_cardBox{
    display: flex;
align-items: flex-start;
gap: var(--snhu-size-space-1050);
align-self: stretch;
}
.credi_cardBox>.card_Credi{
    display: flex;
min-width: 240px;
justify-content:center;
align-items: flex-start;
align-content: flex-start;
row-gap: 16px;
flex: 1 0 0;
flex-wrap: wrap;
}
.card_Credi>.head{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: var(--snhu-size-space-200);
align-self: stretch;
}
.card_Credi>.head>h2{
    color: var(--Text-Link, #0069A7);
text-align: center;

/* Heading & Display/Display Extra-Large */
font-family:Inter;
font-size: 3rem;
    font-style: normal;
    font-weight: bolder;
    line-height: 1.5;
}
.card_Credi>.body{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 40px;
align-self: stretch;
}
.card_Credi>.body>p{
    color: var(--Text-Regular, #474747);
text-align: center;
/* Body/Paragraph */
font-family: Font Family/100;
font-size: var(--snhu-size-typography-body-paragraph-font-size);
font-style: normal;
font-weight: var(--snhu-size-typography-body-paragraph-font-weight);
line-height: var(--snhu-size-typography-body-paragraph-line-height); /* 170% */
}
.qualitySection{
    display: flex;
    align-items: center;
width: 100%;
padding: 69px 1px;
flex-direction: column;
align-items: center;
gap: var(--snhu-size-space-6%0);
background: var(--Background-Default, #FFF);
}
.qualitySection>.qualityRow{
    display: flex;
width: 1128px;
max-width: 1136px;
padding: 0px 16px;
align-items: center;
align-content: center;
gap: 17px 10px;
flex-wrap: wrap;
}
.qualityRow>.quality_card_style{
    display: flex;
height: 473.998px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
flex: 1 0 0;
}

.quality_card_style>.card_container{
    display: flex;
min-width: 160px;
flex-direction: column;
align-items: flex-start;
gap: var(--snhu-size-space-400);
align-self: stretch;
}
.quality_card_style>.card_container>.head{
    display: flex;
min-width: 160px;
flex-direction: column;
align-items: flex-start;
gap: var(--snhu-size-space-400);
align-self: stretch;

}
.quality_card_style>.card_container>.head>h2{
    color: var(--Text-Headings, #00244E);

/* Heading & Display/H2 & Display 2 */
font-family: Font Family/100;
font-size:2rem;
font-weight: bolder;
line-height: 1.5; /* 125% */

}
.card_container>.footer{
    display: flex;
width: 270px;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
}
.card_container>.footer>a{
    display: flex;
max-width: 268px;
padding: 8px 0px;
justify-content: center;
align-items: center;
text-decoration: none;
align-self: stretch;
border-radius: 32px;
background: var(--Text-Link, #0069A7);
margin: 16px 0px;
}
.card_container>.footer>a>p{
    color: var(--Text-Link---Inverse, #E6F1F7);
text-align: center;

/* Miscellaneous/Button */
font-family: Font Family/Inter;
font-size: 1rem;
font-style: normal;
font-weight:bold;
line-height:1.2; /* 120% */
}
.quality_col16{
    display: flex;
min-width: 320px;
max-width: 540px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
flex: 1 0 0;

}
.clickAble_card{
display: flex;
min-width: 160px;
align-items: flex-start;
align-content: flex-start;
gap: 26px 10px;
align-self: stretch;
flex-wrap: wrap;
}
.program_Card{
    display: flex;
min-width: 180px;
flex-direction: column;
align-items: flex-start;
gap: 4px;
flex: 1 0 0;
border-radius: 6px;
background: var(--Background-Default, #FFF);

/* Material - 1dp */
box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.20), 
0px 3px 4px 0px rgba(0, 0, 0, 0.12), 0px 3px 3px 0px rgba(0, 0, 0, 0.14);
}
.program_Card>.media{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 10px;
align-self: stretch;
}
.program_Card>.media>img{
    width: 100%;
height: 167px;
}
.program_Card>.PCard_title{
    display: flex;
padding: 0px 16px 16px 16px;
align-items: flex-start;
gap: 10px;
align-self: stretch;
}
.PCard_title>p{
    color: var(--Text-Headings, #00244E);
font-feature-settings: 'liga' off, 'clig' off;

/* Headings, Display - Large View/Display 5 */
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 640;
line-height: 125%; /* 25px */
}
/* -----------section  */
.supportive{
    display: flex;
flex-direction: column;
align-items: flex-start;
background: var(--Background-Gentle-Grey, #F5F5F5);
}
.testimonials{
    display: flex;
width: 1512px;
padding: 64px 0px;
margin: 63px 0px;
flex-direction: column;
align-items: center;
gap: 10px;
background: var(--Background-Gentle-Grey, #F5F5F5);
}
.testi_container{
    display: flex;
max-width: 1136px;
padding: 0px 13px;
flex-direction: column;
align-items: center;
/* justify-content: center; */
gap: var(--snhu-size-space-6%0);
/* align-self: stretch; */
}
.testimonials_slide{
    display: flex;
width: 1140px;
height: 271px;
min-width: 1140px;
padding: 0px 15px;
flex-direction: column;
align-items: center;
gap: 20px;
}
.testimonials_desktop{
    display: flex;
min-width: 1140px;
padding: 0px 15px;
flex-direction: column;
align-items: center;
gap: 20px;
flex: 1 0 0;
align-self: stretch;
}
.testimonials_row{
    display: flex;
justify-content: center;
align-items: center;
gap: var(--snhu-size-space-1050);
align-self: stretch;
}
.testimonials_row>.col_flx{
    display: flex;
align-items: center;
gap: 25.89px;
}

.thumbnail_grid{
    display: flex;
width: 67.78px;
justify-content: flex-end;
align-items: flex-start;
align-content: flex-start;
gap: 16px 20px;
align-self: stretch;
flex-wrap: wrap;
}
.thumbnail_grid>img{
    display: flex;
width: 44px;
flex-direction: column;
align-items: flex-start;
flex-shrink: 0;
border-radius: 19px;
    border: 2px solid white;
}
.col_flx>.profile_pic{
    display: flex;
align-items: flex-end;
gap: 10px;
border-radius: 8px;
position:relative;
}
.col_flx>.profile_pic>.profile{
    display: flex;
width: 320px;
flex-direction: column;
align-items: flex-start;
border-radius: 8px;
}
.testi_logo{
    width: 60px;
height: 60px;
position: absolute;
right: 30px;
bottom: -29.79px;
}
.testi_logo>img{
    width: 60px;
height: 60px;
flex-shrink: 0;
border: 2px solid rgb(247, 243, 243);
    border-radius: 42px;
}
.col_flx>.quote{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 10px;
}
.col_flx>.quote>p{
    max-width: 370px;
align-self: stretch;
    color: var(--Text-Regular, #474747);
font-feature-settings: 'liga' off, 'clig' off;

/* Headings - Large View/Display 5 */
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 580;
line-height: 125%; /* 25px */
}
.meta{
    display: flex;
flex-direction: column;
align-items: flex-start;
align-self: stretch;
}
.meta>.metaTop{
    max-width: 370px;
align-self: stretch;
    color: var(--Text-Strong, #1A1A1A);
font-feature-settings: 'liga' off, 'clig' off;

/* Paragraph Strong (Bold) */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 160%; /* 25.6px */
}
.meta>.metabottom{
    color: var(--Text-Regular, #474747);
font-feature-settings: 'liga' off, 'clig' off;

/* Paragraph */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
}
.right_col_flx{
    display: flex;
    flex-direction: column;
    padding: 10px 25px;
}
/* ----------- expertise */
.expertise{
    display: flex;
width: 1512px;
padding: 64px 13px;

flex-direction: column;
align-items: center;
gap:68px;
background: var(--Background-Default, #FFF);
}
.expertise>.expert_row{
    display: flex;
width: 1128px;
max-width: 1136px;
padding: 0px 16px;
align-items: center;
gap: 68px;
}
.expert_card_style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
}
.ex_content_layout{
    display: flex;
min-width: 240px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
align-self: stretch;
}
.ex_Card_content{
    display: flex;
min-width: 160px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
align-self: stretch;
}
.ex_Card_content>.ex_heading{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: var(--snhu-size-space-200);
align-self: stretch;
}
.ex_Card_content>.ex_heading>h2{
    color: var(--Text-Headings, #00244E);

/* Heading & Display/H2 & Display 2 */
font-family: Font Family/100;
font-size: 2rem;
font-style: normal;
font-weight: bold;
line-height: 1.5; /* 125% */
}
.ex_Card_content>.ex_body{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: var(--snhu-size-space-400);
align-self: stretch;
}
.ex_body>p{
    align-self: stretch;
    color: var(--Text-Regular, #474747);
font-family: Inter;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 170% */
}
.ex_footer{
    display: flex;
width: 270px;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
}
.expert_col{
    display: flex;
min-width: 320px;
max-width: 540px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
flex: 1 0 0;
}
.ex_col_container{
    display: flex;
min-width: 320px;
max-width: 540px;
flex-direction: column;
align-items: flex-start;
gap: 26px;
align-self: stretch;
}
.ex_col_body{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: var(--snhu-size-space-400);
align-self: stretch;
}
.ex_col_row{
    display: flex;
min-width: 285px;
max-width: 1140px;
flex-direction: column;
align-items: flex-start;
gap: 68px;
align-self: stretch;
}
.ex_col_h2{
    align-self: stretch;
    color: var(--Background-Ink-Blue, #00244E);

/* Heading & Display/H3 & Display 3 */
font-family: Font Family/100;
font-size: 2rem;
font-style: normal;
font-weight: bold;
line-height: 1.5 /* 125.002% */
}
.ex_col_Frame{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 26px;
align-self: stretch;
}
.ex_col_card{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 42px;
align-self: stretch;
}
.ex_col_content_layout{
    display: flex;
min-width: 240px;
align-items: flex-start;
align-content: flex-start;
gap: 26px;
align-self: stretch;
flex-wrap: wrap;
}
.ex_col_card_media{
    display: flex;
width: 160px;
height: 160px;
min-width: 100px;
max-width: 206px;
flex-direction: column;
justify-content: center;
align-items: center;
}
.ex_col_card_media>img{
    width: 160px;
height: 160px;
position: absolute;
background: url(<path-to-image>) lightgray 50% / cover no-repeat, var(--Text-Strong, #1A1A1A);
}
.ex_col_card_content{
    display: flex;
min-width: 160px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
flex: 1 0 0;
}
.ex_col_card_content>.head{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: var(--snhu-size-space-200);
align-self: stretch;
}
.ex_col_card_content>.head>h2{
    color: var(--Text-Headings, #00244E);

/* Heading/Display-4 */
font-family: Inter;
font-size: 25px;
font-style: normal;
font-weight: 640;
line-height: 120%; /* 30px */
}
.ex_body{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 16px;
align-self: stretch;
}
.ex_body>p{
    align-self: stretch;
    color: var(--Text-Regular, #474747);    
/* Body/Paragraph */
font-family: Font Family/100;
font-size: 16px;
font-style: normal;
font-weight:300;
line-height: Line Height/800; /* 170% */
}
.ex_footer{
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
align-self: stretch;
}
.ex_body_foot{
color: var(--Text-Link, #0069A7);
font-feature-settings: 'liga' off, 'clig' off;

/* Body/Paragraph Link */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 170%; /* 27.2px */
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: none;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
}

/* -------------  */

/* ------------  */
.supportive_Respected{
    display: flex;
padding: 68px 0px;
flex-direction: column;
gap: 42px;
align-items: center;
    /* align-self: stretch; */
    justify-content: center;
    background: var(--Background-Gentle-Grey, #F5F5F5);
}
.support_row{
    display: flex;
min-width: 285px;
max-width: 1110px;
align-items: flex-start;
align-content: flex-start;
gap: 16px 26px;
align-self: stretch;
flex-wrap: wrap;
}
.support_row>.heading{
    display: flex;
width: 1136px;
flex-direction: column;
align-items: center;
gap: var(--snhu-size-space-200);
}
.support_row>.heading>h2{
    color: var(--Text-Headings, #00244E);
text-align: center;
justify-content: center;
/* Heading & Display/H2 & Display 2 */
font-family: Inter;
font-size: 39.6px;
font-style: normal;
font-weight: 640;
line-height:48px 125%
} 
.support_frame{
    display: flex;
max-width: 1110px;
align-items: flex-start;
gap: 68px;
align-self: stretch;
}
.col6{
    display: flex;
min-width: 285px;
max-width: 1128px;
padding:26px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
flex: 1 0 0;
border-radius: 8px;
background: var(--Background-Default, #FFF);
}
.support_text{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: var(--spacing-1, 16px);
align-self: stretch;
}
.support_text>h2{
    color: var(--Text-Headings, #00244E);

/* Heading & Display/H3 & Display 3 */
font-family: Font Family/100;
font-size: 33.25px;
font-style: normal;
font-weight:640;
line-height: 39px /* 125.002% */
}
.support_text>.description{
    color: var(--Text-Regular, #474747);

/* Body/Paragraph */
font-family: Font Family/Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 27px; /* 170% */
}
.col6>.footer{
    display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
align-self: stretch;
}
.col6>.footer>a{
    display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
gap: 8px;
align-self: stretch;
}
.col6>.footer>a>p{
    flex: 1 0 0;
    color: var(--Text-Link, #0069A7);
font-feature-settings: 'liga' off, 'clig' off;

/* Body/Paragraph */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 170%; /* 27.2px */
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: none;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
}
.col6>.col_6{
    display: flex;
align-items: center;
align-content: center;
gap: 26px;
align-self: stretch;
flex-wrap: wrap;
}
.col6>.col_6>.img_con{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
flex: 1 0 0;
}
.col6>.col_6>.img2{
padding: 8px;
}
.support_row1{
    display: flex;
min-width: 285px;
max-width: 1128px;
padding:26px;
flex-direction: column;
align-items: flex-start;
gap: 26px;
flex: 1 0 0;
border-radius: 8px;
background: var(--Background-Default, #FFF);
}
.support_col_6{
    display: flex;
min-width: 255px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
align-self: stretch;
}
.support_col_6>.text{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: var(--spacing-1, 16px);
align-self: stretch;
}
.support_col_6>.support_text>.h2{
    align-self: stretch;
    color: var(--Text-Headings, #00244E);

/* Heading & Display/H3 & Display 3 */
font-family: Font Family/100;
font-size: 31.25px;
font-style: normal;
font-weight: 640;
line-height: 39px; /* 125.002% */
}
.support_col_6>.support_text>p>{
    align-self: stretch;
    color: var(--Text-Regular, #474747);

/* Body/Paragraph */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height:27px; /* 170% */
}
.support_col_6{
    display: flex;
align-items: center;
align-content: center;
gap: 26px;
align-self: stretch;
flex-wrap: wrap;
flex-direction: row;
}
.suppo_footer{
    align-self: stretch;
    color: var(--Text-Link, #0069A7);
font-feature-settings: 'liga' off, 'clig' off;

/* Body/Paragraph */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 170%; /* 27.2px */
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: none;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
}
.support_col_6>.logo{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 32px;
flex: 1 0 0;
}
.support_col_6>.logo>{
    width: 189px;
height: 189px;
background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}
.support_col_6>.logo1{
min-width: 160px;

}
/* -----------------------  */

.learn{
    display: flex;
padding: 68px 0px;
flex-direction: column;
align-items: center;
gap: 68px;
align-self: stretch;
background: var(--Background-Ink-Blue, #00244E);
}
.learn_container{
    display: flex;
width: 1110px;
max-width: 1110px;
flex-direction: column;
align-items: center;
gap: 42px;
}
.learn_container>.heading{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap:8px;
align-self: stretch;
}
.learn>.learn_container>.heading>h2{
    align-self: stretch;
    color: var(--Text-Strong, #FFF);

/* Heading & Display/H2 & Display 2 */
font-family: Font Family/Inter;
font-size: 39.06px;
font-style: normal;
font-weight: 640;
line-height:48px; /* 125% */
}
.learn_call_to_action{
    display: flex;
padding-top: var(--snhu-size-space-400);
align-items: center;
gap: 30px;
align-self: stretch;
}
.learn_call_to_action>a{
    display: flex;
max-width: 268px;
padding: 8px 0px;
justify-content: center;
align-items: center;
flex: 1 0 0;
border-radius: 32px;
border: 2px solid var(--Text-Link, #FFF);
text-decoration: none ;
}
.learn_call_to_action>a>p{
    flex: 1 0 0;
    color: var(--Text-Link, #FFF);
text-align: center;

/* Miscellaneous/Button */
font-family: Font Family/Inter;
font-size: 16px;
font-style: normal;
font-weight: 640;
line-height: 19.2px; /* 120% */
}
.left_right_maker{
    display: flex;
min-width: 240px;
align-items: flex-start;
align-content: flex-start;
gap: var(--snhu-size-space-1050) var(--snhu-size-space-1700);
align-self: stretch;
flex-wrap: wrap;
}
.left_right_maker>.learn_body{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: var(--snhu-size-space-400);
flex: 1 0 0;
}
.learn_body>.learn_card_container{
    display: flex;
max-width: 1136px;
flex-direction: column;
align-items: center;
gap: var(--snhu-size-space-1700);
align-self: stretch;
}
.learn_card_container>.two_card{
    display: flex;
align-items: flex-start;
gap: 68px;
align-self: stretch;
}
.learn_card_container>.two_card>.card{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 16px;
flex: 1 0 0;
}
.learn_video_player{
    display: flex;
flex-direction: column;
align-items: center;
align-self: stretch;
position: relative;
}
.learn_video_player>.thumnail{
    height: 289.125px;
align-self: stretch;
background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}
.learn_video_player>.play_butoon{
    width: 128px;
    height: 90px;
    position: absolute;
right: 196px;
bottom: 99.125px;
background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    border:1px solid transparent;
    border-radius: 28px;
}
.learn_card_title>h2{
    color: var(--Text-Headings, #FFF);

/* Heading & Display/H3 & Display 3 */
font-family: Font Family/Inter;
font-size: 31px;
font-style: normal;
font-weight: 640;
line-height: 39px; /* 125.002% */
}
.learn_text>p{
    align-self: stretch;
    color: var(--Text-Regular, #D1D7DF);

/* Body/Paragraph */
font-family: Font Family/100;
font-size: 16;
font-style: normal;
font-weight: 400;
line-height: 27px; /* 170% */
}
/* ---------------------  */
.faq{
    display: flex;
padding: 68px 0px;
flex-direction: column;
align-items: center;
gap: 68px;
/* align-self: stretch; */
background: var(--Background-Default, #FFF);
}
.faq>.faq_row{
    display: flex;
min-width: 285px;
max-width: 1110px;
justify-content: center;
align-items: flex-start;
align-content: flex-start;
gap: 0px 30px;
align-self: stretch;
flex-wrap: wrap;
}
.faq_row>.col8{
    display: flex;
min-width: 320px;
max-width: 730px;
flex-direction: column;
align-items: center;
gap:26px;
flex: 1 0 0;
}
.faq_row>.col8>.heading{
    align-self: stretch;
    color: var(--Text-Headings, #00244E);
text-align: center;
font-feature-settings: 'liga' off, 'clig' off;

/* Headings, Display - Large View/Display 2 */
font-family: Inter;
font-size: 39.06px;
font-style: normal;
font-weight: 640;
line-height: 125%; /* 48.825px */
}
.accordions_contain{
    display: flex;
flex-direction: column;
align-items: flex-start;
align-self: stretch;
}
.accordions_contain>.accordion{
    
    display: flex;
flex-direction: column;
align-items: center;
align-self: stretch;
border-bottom: 1px solid var(--Text-Regular, #474747);
}
.accordion>.faq_bar{
    display: flex;
padding: 16px;
align-items: center;
gap: 26px;
align-self: stretch;
background: var(--HitBox, rgba(255, 255, 255, 0.00));
}
.faq_bar>p{
    flex: 1 0 0;
    color: var(--Text-Regular, #474747);
font-feature-settings: 'liga' off, 'clig' off;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 170%; /* 27.2px */
}
.faq_bar>.icon{
    display: flex;
padding: 2px 5px;
justify-content: center;
align-items: center;
gap: 10px;
width: 16px;
height: 16px;
transform: rotate(360deg);
}
.faq_related_articales{
    display: flex;
max-width: 1110px;
flex-direction: column;
align-items: flex-start;
align-self: stretch;
}
.faq_related_articales>.row{
    display: flex;
min-width: 285px;
max-width: 1140px;
flex-direction: column;
align-items: flex-start;
gap: var(--snhu-size-space-6%0);
align-self: stretch;
}
.faq_related_articales>.row>h2{
    align-self: stretch;
    color: var(--Text-Headings, #00244E);

/* Heading & Display/H2 & Display 2 */
font-family: Font Family/100;
font-size: 39px;
font-style: normal;
font-weight: 640;
line-height:48px /* 125% */
}
.clickable_card_content{
    display: flex;
align-items: flex-start;
align-content: flex-start;
gap: 26px ;
align-self: stretch;
flex-wrap: wrap;
}
.clickable_card_content>.clickable_card{
    display: flex;
height: 327px;
min-width: 168px;
flex-direction: column;
align-items: flex-start;
gap: 12px;
flex: 1 0 0;
border-radius: 6px;
background: var(--v2-Brand-Colors-White-100, #FFF);
/* Material - 1dp */
box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.20), 
0px 3px 4px 0px rgba(0, 0, 0, 0.12),
 0px 3px 3px 0px rgba(0, 0, 0, 0.14);
}
.clickable_card>.media{
    display: flex;
flex-direction: column;
align-items: flex-start;
align-self: stretch;
}
.clickable_card>.content{
    display: flex;
padding: 0px 16px 16px 16px;
flex-direction: column;
align-items: flex-start;
gap: 6px;
align-self: stretch;
}
.clickable_card>.content>p{
    color: var(--Text-Regular, #474747);

/* Body/Small */
font-family: Font Family/Inter;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 19px; /* 153% */
}
.clickable_card>.content>h2{
    color: var(--Text-Headings, #00244E);
font-feature-settings: 'liga' off, 'clig' off;

/* Headings, Display - Large View/Display 5 */
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 640;
line-height: 125%; /* 25px */
}

/* ---------  */
.pre_footer_content{
    display: flex;
flex-direction: column;
align-items: center;
align-self: stretch;
background: var(--Background-Default, #FFF);
}
.pre_footer_content>.finalCTA{
    display: flex;
padding: 68px 0px;
flex-direction: column;
align-items: center;
align-self: stretch;
background: var(--Background-Ink-Blue, #00244E);
}
.finalCTA>.cta_row{
    display: flex;
flex-direction: column;
align-items: center;
gap: 16px;


justify-content: center;
align-items: center;



}
.cta_row>.heading{
    display: flex;
width: 1110px;
justify-content: center;
align-items: center;
gap: 10px;
}
.cta_row>.heading>h2{
    color: var(--Text-Headings, #FFF);

/* Heading & Display/H2 & Display 2 */
font-family: Font Family/Inter;
font-size: 39px;
font-style: normal;
font-weight: 640;
line-height: 48px/* 125% */
}
.cta_row>p{
    color: var(--Text-Regular, #D1D7DF);

/* Body/Paragraph */
font-family: Font Family/Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 27px; /* 170% */
}
.CTA_button{
    display: flex;
max-width: 270px;
padding-top: 16px;
justify-content: center;
align-items: center;
gap: 30px;
/* align-self: stretch; */
}
.CTA_button>a{
    display: flex;
    padding: 6px 72px;
justify-content: center;
align-items: center;
gap: 8px;
flex: 1 0 0;
border-radius: 999px;
background: var(--Background-Yellow, #FDB913);
text-decoration: none;
}
.CTA_button>a>p{
    align-self: stretch;
    color: var(--Background-Heritage-Blue, #004274);
text-align: center;

/* Body/Bold */
font-family: "Open Sans";
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 170%; /* 27.2px */
}
.Sourse_citation{
    display: flex;
padding: 68px 150px;
flex-direction: column;
align-items: center;
gap: 16px;
align-self: stretch;
background: #EFEFEF;
}
.Sourse_citation>.sourse_row{
    display: flex;
min-width: 285px;
max-width: 1110px;
justify-content: center;
align-items: flex-start;
align-content: flex-start;
gap: 0px 30px;
/* align-self: stretch; */
flex-wrap: wrap;
}
.sourse_row>.sourse_col{
    display: flex;
min-width: 320px;
max-width: 730px;
flex-direction: column;
align-items: center;
gap: 26px;
flex: 1 0 0;
}
.sourse_accordion_content{
    display: flex;
flex-direction: column;
align-items: flex-start;
align-self: stretch;
}
.sourse_accordion_content>.accordion{
    display: flex;
flex-direction: column;
align-items: center;
align-self: stretch;
border-bottom: 1px solid var(--Ink, #00244D);
}
.sourse_accordion_content>.accordion>.bar{
    display: flex;
padding: 16px;
align-items: center;
gap: 26px;
align-self: stretch;
background: var(--HitBox, rgba(255, 255, 255, 0.00));
}
.accordion>.bar>h2{
    flex:1 0 0;
    color: var(--Ink, #00244D);
font-feature-settings: 'liga' off, 'clig' off;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 170%; /* 27.2px */
}
.expended_content{
    display: flex;
padding: 16px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 16px;
align-self: stretch;
background: var(--HitBox, rgba(255, 255, 255, 0.00));
}
.expended_content>p{
    align-self: stretch;
    color: var(--Text-Strong, #1A1A1A);
font-feature-settings: 'liga' off, 'clig' off;

/* Body/Paragraph */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 170%; /* 27.2px */
color: var(--Text-Regular, #474747);
font-feature-settings: 'liga' off, 'clig' off;

/* Body/Paragraph */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 170%;
}